<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ImportGroup Label="PropertySheets" />
  <PropertyGroup Label="UserMacros">
    <!--把这个换成你的OpenCV目录-->
    <OpenCV>F:\OpenCV-3.0.0</OpenCV>
  </PropertyGroup>
  <PropertyGroup>
    <IncludePath>$(SolutionDir)Include;$(OpenCV)\build\include;$(SolutionDir)3rdParty\include;$(IncludePath)</IncludePath>
    <LibraryPath>$(SolutionDir)$(Configuration);$(OpenCV)\build\x86\vc12\lib;$(SolutionDir)3rdParty\lib\$(Configuration);$(LibraryPath)</LibraryPath>
  </PropertyGroup>
  <ItemDefinitionGroup>
    <Link>
      <AdditionalDependencies>Update.lib;TiebaManager.lib;TiebaManagerCore.lib;TiebaAPI.lib;Helper.lib;tinyxml2.lib;%(AdditionalDependencies)</AdditionalDependencies>
    </Link>
  </ItemDefinitionGroup>
  <ItemGroup>
    <BuildMacro Include="OpenCV">
      <Value>$(OpenCV)</Value>
    </BuildMacro>
  </ItemGroup>
</Project>